* {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

header {
    background-color: rgb(142,169,219);
    margin: 0px 0px 10px;
    height: 100px;
    width: 960px;
}

header img {
    height: 95px;
    border-radius: 15px 70px 70px 15px;
    border-style:groove;
    margin-left:30px;
}

nav {
    background-color:  rgb(142,169,219);
    height: 25px;
    width: 960px;
}

main {
    width: 960px;
}

footer {
    background-color:  rgb(142,169,219);
    height: 50px;
    margin-top: 10px;
    width: 960px;
    margin: 0px;
}

li {
    display: inline-block;
    background-color:  rgb(142,169,219);
    margin-left: 40px;
}

ul {
    background-color:  rgb(142,169,219);
    width: 500px;
    margin-right: 0px;
    display: inline;
}

a {
    background-color:  rgb(142,169,219);
    text-decoration: none;
    color: black;
    /* text-align:center; */
}

img {
    height: 200px;
    border-radius: 10px;
    float: left;
    margin: 0px 10px 0px 0px;
}

article {
    height: auto;
    width: auto;
    text-align: middle;
    align-content: stretch;
    margin-bottom: 20px;
    margin-left:30px
}

article ol {
    background-color: beige;
    list-style: georgian;
}

article li {
    margin-top: 10px;
    text-align: left;
    font-size: 11px;
    background-color: beige;
    display: block;
    font-style: italic;
}

h1 {
    background-color: rgb(142,169,219);
    margin-bottom: 25px;
    font-size: 30px;
    font-style: italic;
}

h3 {
    text-align: left;
    text-decoration: underline;
    font-size: 15px;
    font-weight: bold;
}

p {
    width: auto;
    margin-top: 15px;
    font-size: 12px;
    text-align: left;
}

footer li {
    margin-top: 15px;
}

span {
    text-decoration: underline;
    font-weight: bold;
}

ol li{
    margin:0px;
    padding:5px;
    list-style-type:georgian;
}
ol li a {
    background-color: beige;
    margin:0px;
    font-size:10px;
}

ol{
    margin:5px;
}