* {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

header {
    background-color: silver;
    margin: 0px 0px 10px;
    height: 100px;
    width: 960px;
}

nav {
    background-color: silver;
    height: 25px;
    width: 960px;
}

main {
    width: 960px;
}

footer {
    background-color: silver;
    height: 50px;
    margin-top: 10px;
    width: 960px;
    margin: 0px;
}

li {
    display: inline-block;
    background-color: silver;
    margin-left: 40px;
}

ul {
    background-color: silver;
    width: 500px;
    margin-right: 0px;
    display: inline;
}

a {
    background-color: silver;
    text-decoration: none;
    color: black;
    /* text-align:center; */
}

img {
    height: 200px;
    border-radius: 10px;
    float: left;
    margin: 0px 10px 0px 30px;
}

article {
    height: 220px;
    width: auto;
    text-align: middle;
    align-content: stretch;
}

article ol {
    background-color: beige;
    list-style: georgian;
}

article li {
    margin-top: 10px;
    text-align: left;
    font-size: 11px;
    background-color: beige;
    display: block;
    font-style: italic;
}

h1 {
    background-color: silver;
    margin-bottom: 25px;
    font-size: 30px;
    font-style: italic;
}

h3 {
    text-align: left;
    text-decoration: underline;
}

p {
    width: auto;
    margin-top: 15px;
    font-size: 12px;
    text-align: left;
}

footer li {
    margin-top: 15px;
}

span {
    text-decoration: underline;
    font-weight: bold;
}